# Do not sync the following files to GitHub:

working/*.html

# DO sync the following file:

!working/index.html
!working/contents.html
!working/guide.html
!working/settings.html
!working/book-of-blessings.html
!working/text-option-info.html