  /* ---------- Reading content ---------- */

  main.content {
    max-width: 65ch;
    margin: 0 auto;
    padding: calc(env(safe-area-inset-top, 0px) + 64px) 1.25rem calc(env(safe-area-inset-bottom, 0px) + 64px);
  }
  
  
  
  
/******** HEADINGS ********/
p{margin: 0.5em 0;}
.partNumber{ /* 5 */
	font-size: 161%;
	text-align: center;
	font-variant: small-caps;}
.partTitle{ /* 5 plus appendix */
	font-size: 161%;
	text-align: center;
	text-transform: uppercase;}

.chapterNumber{ /* 42 */
	font-size: 146%;
	text-align: center;
	font-variant: small-caps;}
.chapterTitle{ /* 42 plus appendix */
	font-size: 146%;
	text-align: center;
	text-transform: uppercase;}
.dateHeading{ /* 5, all in Part IV */
	font-size: 133%;
	text-align: center;}

.orderTitle{
	font-size: 133%;
	text-align: center;
	text-transform: uppercase;}

.riteHeading{
	font-size: 121%;
	text-align: center;
	text-transform: uppercase;}

.introHeading{
	font-size: 110%;
	text-align: center;
	font-variant: small-caps;}
.riteSectionHeading{
	font-size: 110%;
	font-variant: small-caps;}

/******** RUBRICS ********/
.rubricPara,
.rubricInlineNumbered,
.rubricInlineUnnumbered,
.rubricAltReading,
.rubricReadingTheme,
.rubricCitationInRdgIntro,
.rubricRV, /* Also includes "Ant." x4 all together */
.cross,
.nameN {
	color: var(--color-rubrics);
}

.rubricReadingTheme,
.readingTheme {
	font-style: italic;
}

.parNumber{
	display: inline-block;
	width: 2em;
}
.marginRefNumber{
	padding: 0 0.3em;
	margin-right: 0.3em;
	color: white;
	background: black;
}
.hymnName{
	font-style: italic;
}

/******** BLACK ********/
.theBlack{
	font-weight: bold;
}
.poetry{
	text-indent: 2em hanging each-line;
}
.rubricCitationInRdgIntro {
	font-weight: normal;
	float: right;
	margin-left: 1em;
}

/******** Paragraphs ********/
.frontMatterPara:not(:has(.parNumber)),
.rubricPara:not(:has(.parNumber)) {
	text-indent: 2em;
}
.letterList {
	margin-left: 2em;
}
.signature {
	line-height: var(--leading-compact);
	margin-left: 40%;
}

  /* ---------- Table of Contents ---------- */

.tocNarrowShow {
	display: none;
}

:root {
    --tocMarginMultiplier: 1;
}
@media (max-width: 35em) {
:root {
	--tocMarginMultiplier: 0.3;
}
.tocNarrowHide {
	display: none;
}
.tocNarrowShow {
	display: initial;
}
}

.contentsLevel1 {margin-left: calc(0em * var(--tocMarginMultiplier));}
.contentsLevel2 {margin-left: calc(2em * var(--tocMarginMultiplier));}
.contentsLevel3 {margin-left: calc(4em * var(--tocMarginMultiplier));}